<div class="col-md-12">
  <div class="card card-container">
    <h2> Ajouter un questionnaire </h2>
    <form  name="form" (ngSubmit)="f.form.valid && onSubmit()"
           #f="ngForm"
           novalidate>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          id="description"
          type="text"
          class="form-control"
          name="description"
          required
          minlength="3"
          maxlength="20"
          #description="ngModel"
          [(ngModel)]="quizz.name"
        />
        <div class="alert-danger" *ngIf="description.errors && f.submitted">
          <div *ngIf="description.errors.required">La descirption est obligatoire</div>
          <div *ngIf="description.errors.minlength">Description doit contenir au moins 3 caracteres </div>
          <div *ngIf="description.errors.maxlength">Description doit contenir au plus 20 caracteres </div>
        </div>
      </div>

      <div class="form-group">
        <label for="competence">Competence</label>
        <select
          id="competence"
          class="form-control"
          name="competence"
          required
          #competence="ngModel"
          [(ngModel)]="quizz.competence"
        >
          <option value=""> Choisir une competence</option>
          <option *ngFor="let competence of list_competence"  [ngValue]="competence.id"> {{competence.nom_competence}}</option>
        </select>

        <div class="alert-danger" *ngIf="competence.errors && f.submitted">
          <div *ngIf="competence.errors.required">La competence est obligatoire</div>
        </div>
      </div>

      <div class="form-group">
        <label for="niveau">Niveau</label>
        <select
          id="niveau"
          class="form-control"
          name="niveau"
          required
          #niveau="ngModel"
          [(ngModel)]="quizz.niveau"
        >
          <option value=""> Choisir un niveau</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>

        <div class="alert-danger" *ngIf="niveau.errors && f.submitted">
          <div *ngIf="niveau.errors.required">Le niveau est obligatoire</div>
        </div>
      </div>

      <div class="form-group">
          <label>Duree</label>
          <input
            id="heure"
            type="number"
            class="form-control"
            name="heure"
            required
            #heure="ngModel"
            [(ngModel)]="quizz.heure"
          />
          <label for="heure">Heure</label>
          <input
            id="minute"
            type="number"
            class="form-control"
            name="minute"
            required
            minlength="3"
            #minute="ngModel"
            [(ngModel)]="quizz.minute"
          />
          <label for="minute">Minute</label>

          <!-- Validation heure minutes ...
          <div class="alert-danger" *ngIf="question.errors && f.submitted">
            <div *ngIf="question.errors.required">La question est obligatoire</div>
            <div *ngIf="question.errors.minlength">Question doit contenir au moins 3 caracteres </div>
          </div> -->
      </div>


      <div class="form-group">
        <label for="seuil">Seuil de validation (%)</label>
        <input
          id="seuil"
          type="number"
          class="form-control"
          name="seuil"
          required
          #seuil="ngModel"
          [(ngModel)]="quizz.pourcentageValidation"
        />

        <!-- Validation Seuil ...
         <div class="alert-danger" *ngIf="question.errors && f.submitted">
           <div *ngIf="question.errors.required">La question est obligatoire</div>
           <div *ngIf="question.errors.minlength">Question doit contenir au moins 3 caracteres </div>
         </div> -->
      </div>

      <hr>


      <div class="form-group">
          <button  (click)= "createQuizz()" type="submit" class="btn btn-success">Ajouter</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isFailed">
          Creation de quizz echouee!<br />{{ errorMessage }}
      </div>

      <div class="alert alert-success" *ngIf="isSuccessful">
        Creation de quizz reussie
      </div>

    </form>


  </div>
</div>
