<h2> Liste des competences </h2>
<button routerLink="/creer-competence" class="btnStatsAdd">  Ajouter une competence</button>

<div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Libelle</th>
      <th scope="col">Competence pere</th>
    </tr>
    </thead>
    <tbody *ngFor="let competence of list_competence">
    <tr>
      <td>{{competence.id}}</td>
      <td>{{competence.nom_competence}}</td>
      <td>{{competence.nom_competence_pere}}</td>

      <td><button type="button" (click)="updateCompetence(competence.id)"  mat-fab color="primary"><mat-icon>border_color</mat-icon></button></td>


      <td><button type="button" (click)="deleteCompetence(competence)"   mat-fab color="warn"><mat-icon>delete</mat-icon></button></td>



    </tr>
    </tbody>

</table>

</div>


