<div class="col-md-24" style="padding-top:40px;">
  <div class="card card-container" >

<h2> Liste des compétences </h2>
<button *ngIf="isAdmin" routerLink="/creer-competence" class="btnStatsAdd">  Ajouter une compétence</button>

<div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Libelle</th>
      <th scope="col">Compétence racine</th>
    </tr>
    </thead>
    <tbody *ngFor="let competence of list_competence">
    <tr>
      <td>{{competence.nom_competence}}</td>
      <td>{{competence.nom_competence_pere}}</td>

     <td><button type="button" *ngIf="isAdmin"> <a class="badge badge-warning" routerLink="/modifier-competence/{{competence.id}}">
        Modifier
      </a>  </button> </td>

      <td> <button *ngIf="isAdmin" type="button" (click)="deleteCompetence(competence)"  mat-fab color="warn"><mat-icon>delete</mat-icon></button></td>

    </tr>
    </tbody>

</table>

</div>

  </div>
</div>
