<div class="container">
    <div class="starter-template">
        <h1>SKILLZ</h1>
        <p class="lead">By retrieving automaticly projects on GitHub and getting them scored by SonaQube, the Korector will automate the scoring process which consequently can help professors to save time and increase their work's efficiency.
            Moreover, the admin and students respectively can also use this auto-correction tool to manage a system of online assessment and assess their projects themselves.
        </p>

    </div>
</div>