<div class="container-fluid">
	<div class="row">
		<h1>Creation d'une question</h1>
    </div> <br>
    
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <mat-label> Description </mat-label>
            </div>
            <div class="col-md-6">
                <input matInput [(ngModel)]="description"> 
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <mat-label> Theme </mat-label>
            </div>
            <div class="col-md-6">
                <input matInput [(ngModel)]="theme"> 
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <mat-label> Competence </mat-label>
            </div>
            <div class="col-md-6">
                <input matInput [(ngModel)]="competence"> 
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <mat-label> Niveau </mat-label>
            </div>
            <div class="col-md-6">
                <input matInput [(ngModel)]="niveau"> 
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row">            
            <input matInput [(ngModel)]="question"> 
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <mat-label> Reponses </mat-label>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>

    <div class="row">
		<div class="col-md-6">
		  <button class="btn btn-primary" >Valider</button>
		</div>
    </div> <br>
</div>