<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            required
            [(ngModel)]="user.username"
            name="username"
          />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            class="form-control"
            id="email"
            required
            [(ngModel)]="user.email"
            name="email"
          />
        </div>


        <div class="form-group">
          <label for="role">Rôle</label>
          <select name="role_selector"
              id="role_selector"
              class = "form-control"
              [(ngModel)]= "user.role">
            <option selected="selected" value="participant">Participant</option>
            <option value="concepteur">Concepteur</option>
            <option value="admin">Admin</option>
          </select>
        </div>


          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input
              class="form-control"
              id="password"
              required
              [(ngModel)]="user.password"
              name="password"
            />
          </div>

        <button (click)="saveUser()" class="btn btn-success">Ajouter</button>
      </div>

      <div *ngIf="submitted">
        <h4>Utilisateur a été ajouté avec succès !</h4>
        <button class="btn btn-success" (click)="newUser()">Ajouter Utilisateur</button>
      </div>
    </div>
  </div>
