<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            required
            [(ngModel)]="user.username"
            name="title"
          />
        </div>
  
        <div class="form-group">
          <label for="email">Email</label>
          <input
            class="form-control"
            id="email"
            required
            [(ngModel)]="user.email"
            name="email"
          />
        </div>

        <div class="form-group">
            <label for="role">Role</label>
            <input
              class="form-control"
              id="role"
              required
              [(ngModel)]="user.role"
              name="role"
            />
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              class="form-control"
              id="password"
              required
              [(ngModel)]="user.password"
              name="password"
            />
          </div>
  
        <button (click)="saveUser()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Tutorial was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newUser()">Ajouter Utilisateur</button>
      </div>
    </div>
  </div>