<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">SkillZ</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a href="/home" class="nav-link" routerLink="home">Accueil </a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a href="/admin" class="nav-link"  routerLink="admin">Accueil</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a href="/listUser" class="nav-link"  routerLink="users">Utilisateurs</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a href="/listCompetence" class="nav-link"  routerLink="liste-competence">Compétences</a>
      </li>
      <li class="nav-item" *ngIf="isConcepteur">
        <a href="/concepteur" class="nav-link" routerLink="concepteur">Accueil</a>
      </li>
      <li class="nav-item">
        <a href="/participant" class="nav-link" *ngIf="isParticipant" routerLink="participant">Accueil</a>
      </li>
      <li class="nav-item" *ngIf="isParticipant || isConcepteur">
        <a class="nav-link" routerLink="/listQuiz">Questionnaires</a>
      </li>
      <li class="nav-item" *ngIf="isParticipant || isConcepteur">
        <a *ngIf="isParticipant" href="/listrecommendation" class="nav-link" routerLink="/recommendations">Recommandation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isConcepteur" routerLink="/listQuestions">Questions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isConcepteur" routerLink="/userQuestionsAndQuiz">Mes creations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isConcepteur" routerLink="/lesPostes">Postes</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">S'inscrire</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">S'identfier</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Se déconnecter</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
