<div class="container-fluid">
  <div class="col-md-8" *ngIf="!isCandidateView">
    <div><br></div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Rechecher par username" [(ngModel)]="username"/>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchUsername()">
          Rechercher
        </button>
      </div>
    </div>
    <div class="input-group-append">
      <button routerLink="/createUser" class="btn btn-primary">  Ajouter un utilisateur</button>
    </div>
    <div><br></div>
  </div><br>

  <h4>Liste d'utilisateurs</h4><br>

  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Role</th>
          <th scope="col">Email</th>  
          <th scope="col">Actions</th>      
        </tr>
      </thead>
      <tbody *ngFor="let user of users; let i = index" 
      [class.active]="i == currentIndex" 
      (click)="setActiveUser(user, i)">
        <tr>
          <td>{{user.username}}</td>
          <td>{{user.role}}</td>
          <td>{{user.email}}</td>
          <td>
            <button type="button" 
                    mat-fab color="warn"
                    (click)="deleteUser(user.id, i)"><mat-icon>delete</mat-icon>
            </button>
            
            <button type="button" 
                    mat-fab color="primary" 
                    routerLink="/users/{{ user.id }}"><mat-icon>open_in_new</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table> 
  </div><br>

  <!-- <div class="row" *ngIf="isCandidateView">
    <div *ngIf="currentUser">
      <h4>Utilisateur</h4>
      <div>
        <label><strong>Username:</strong></label> 
        {{ currentUser.username }}
      </div>
      <div>
        <label><strong>Email:</strong></label>
        {{ currentUser.email }}
      </div>
      <div>
        <label><strong>Role:</strong></label>
        {{ currentUser.role }}
      </div>
      <a class="badge badge-warning" routerLink="/users/{{ currentUser.id }}">
        Modifier
      </a>
    </div>
  
    <div class=" row" *ngIf="!currentUser && !isCandidateView">
      <br />
      <p>Choisissez un utilisateur...</p>
    </div>
  </div> -->
</div>
