<div class="container">
  <br>
  <h2>Statistiques du concepteur</h2>
  
  <table>
    <tr>
      <td>Nombre de questions</td>
      <td>{{nbQuestions}}</td>
      <td><a href="/listQuestions">Voir la liste de questions</a></td>
    </tr>
    <tr>
      <td>Nombre de questionnaires</td>
      <td>{{nbQuiz}}</td> 
      <td><a href="/listQuiz">Voir la liste de questionnaires</a></td>
    </tr>
    <tr>
      <td>Nombre d'competences</td>
      <td>{{nbCompetences}}</td>
      <td><a href="/liste-competence">Voir la liste de compétences</a></td>
    </tr>
  </table>

  

 
</div>
