<div class="container">
  <h2>Statistiques du participant</h2>

  <table>
    <tr>
      <td>Nombre de badge</td>
      <!-- <td>{{nbusers}}</td> -->
    </tr>
    <tr>
      <td>Nombre de questionnaires réalises</td>
      <!-- <td>{{nbParticipants}}</td> -->
    </tr>
  </table>

  <a href="/liste-competence">Liste de compétences</a>
  <br>
  <a href="/recommendations">Mes recommandations</a>

  <hr>
  <h2> Mes badges </h2><br>

  <div>
    <mat-chip-list aria-label="Fish selection" >
      <mat-chip *ngFor="let badge of userBadges " color="primary" selected>
        {{badge.competenceName}} | {{badge.niveauName}} | {{badge.quizScore}}% | {{badge.dateValidation}}</mat-chip>
    </mat-chip-list>
  </div>


</div>


