<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Skillz</a>
    <div class="collapse navbar-collapse">
      <!-- Left nav items -->
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/quizz">Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/questions">Questions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/doquizz">Do Quizz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/" >Statistiques</a>
        </li>
      </ul>

      <!-- Right nav items  -->
    <ul class="navbar-nav ml-auto" >
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">Username</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link">LogOut</a>
      </li>
    </ul>
  </div>
</nav>
