<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
          <br>
        <div class="dropdown">
          <label for="receiver">Receiver</label>
          
          <select name="receiver_selector" 
              id="receiver_selector" 
              class = "form-control"
              [(ngModel)]= "selectedReceiver">
              <option *ngFor="let user of users" [ngValue]="user">
                  {{user.username}}
                </option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="email">Contenu</label>
          <textarea class="form-control"
            id="content"
            rows="5"
            required
            [(ngModel)]="recommendation.content"
            name="email">
            </textarea>
        </div>

        <button (click)="saveRecommendation()" class="btn btn-primary">Ajouter recommandation</button>
      </div>
  
      <div *ngIf="submitted">
        <br>
        <h6>Recommandation a été ajouté avec succès !</h6>
        <a href="/recommendations" >Revenir vers la liste de recommandation</a>
      </div>
    </div>
  </div>